# Install: Manage basic resource setup, such as packages or service users.

---

- name: "Setup | Install | Default | Remove unwanted packages (e.g., to prevent conflicts or resolve incompatibilities)"
  ansible.builtin.package:
    name: "{{ __run_sshd_packages_removal }}"
    state: "absent"
  when:
    - __run_sshd_packages_removal is defined
    - (__run_sshd_packages_removal | length) > 0


- name: "Setup | Install | Default | Install or upgrade packages"
  ansible.builtin.package:
    name: "{{ __run_sshd_packages_install }}"
    state: "{{ 'latest' if run_sshd_autoupgrade else 'present' }}"
  when:
    - __run_sshd_packages_install is defined
    - (__run_sshd_packages_install | length) > 0


- name: "Setup | Install | Default | Remove unwanted files and directories (e.g., to prevent conflicts or resolve incompatibilities)"
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"
  when:
    - __run_sshd_paths_removal is defined
    - (__run_sshd_paths_removal | length) > 0
  loop: "{{ __run_sshd_paths_removal }}"


- name: "Setup | Install | Default | Ensure privilege separation directory exists with proper permissions"
  ansible.builtin.file:
    path: "{{ __run_sshd_privseparation_dir_path }}"
    state: "directory"
    owner: "{{ __run_sshd_privseparation_dir_owner }}"
    group: "{{ __run_sshd_privseparation_dir_group }}"
    mode: "{{ __run_sshd_privseparation_dir_mode }}"
  when:
    - __run_sshd_privseparation_dir_path is defined
    - __run_sshd_privseparation_dir_path | length > 0
