# Internal role variables specific to: SUSE (os_family or distribution)
#
# Only values specific to the platform and its functionality should be included
# here. Variables in this file override those defined in vars/main.yml.
#
# Each variable should have a concise comment above it, describing its purpose
# and how it fits into the role's functionality.

---

__run_sshd_packages_install:
  - "openssh-server"

__run_sshd_packages_uninstall: "{{ run_sshd_packages_install }}"

# On openSUSE Leap, sshd(8) reads configuration data from /etc/ssh/sshd_config
# or /usr/etc/ssh/sshd_config if /etc/ssh/sshd_config does not exist (cf.
# https://manpages.opensuse.org/Leap-16.0/openssh-server/sshd_config.5.en.html)
# Defaults on openSUSE Leap >= v16.0:
# - /usr/etc/ssh/sshd_config: existing
# - /etc/ssh/sshd_config: not existing
# This value gets adjusted if needed (see tasks/config/suse.yml).
__run_sshd_config_file_path: "/usr/etc/ssh/sshd_config"
__run_sshd_config_file_mode: "u=rw,g=r,o=" # 0640

__run_sshd_config_dropin_dir_mode: "u=rwx,g=rx,o=rx" # 0755

__run_sshd_config_dropin_file_mode: "{{ __run_sshd_config_file_mode }}"

__run_sshd_hostkey_mode: "u=rw,g=,o=" # 0600

# Check vars/main.yml for hints on determining the privilege separation dir path
__run_sshd_privseparation_dir_path: "/var/lib/empty"
__run_sshd_privseparation_dir_mode: "u=rx,g=rx,o=rx" # 0555
