# Configuration: Manage settings, like adapting or creating config files.

---

- name: "Config | Default | Extract configured host keys"
  ansible.builtin.set_fact:
    __run_sshd_configured_hostkeys: >-
      {{
        (__run_sshd_effective_sshd_settings.HostKey is string)
        | ternary([__run_sshd_effective_sshd_settings.HostKey], __run_sshd_effective_sshd_settings.HostKey)
        | default([])
      }}


- name: "Config | Default | Check if all configured host keys exist"
  ansible.builtin.stat:
    path: "{{ item }}"
  loop: "{{ __run_sshd_configured_hostkeys }}"
  register: __run_sshd_hostkey_stats


- name: "Config | Default | Generate missing sshd host keys"
  # ssh-keygen -A automatically checks for existing RSA, ECDSA, and ED25519 host
  # keys and generates only the missing ones (regardless of configuration). The
  # command produces output only when it creates new key files, making it easy
  # to detect actual changes.
  # /usr/libexec/openssh/sshd-keygen would be a more flexible alternative as it
  # accepts specific key types as arguments, but it is usually only available on
  # Red Hat-based distributions.
  ansible.builtin.command: "{{ __run_sshd_sshkeygen_exec_path }} -A"
  when: __run_sshd_hostkey_stats.results | map(attribute='stat.exists') | select('equalto', false) | list | length > 0
  changed_when:
    - __run_sshd_sshkeygen_result['rc'] == 0
    - __run_sshd_sshkeygen_result['stdout'] | trim | length > 0
  register: __run_sshd_sshkeygen_result
  notify: "run_sshd: restart sshd.service"


- name: "Config | Default | Print effective config (merged defaults with passedvalues)"
  ansible.builtin.debug:
    var: __run_sshd_effective_sshd_settings
    verbosity: 4


- name: "Config | Default | Ensure drop-in config directory exists with proper permissions"
  ansible.builtin.file:
    path: "{{ __run_sshd_config_dropin_dir_path }}"
    state: "directory"
    owner: "{{ __run_sshd_config_dropin_dir_owner }}"
    group: "{{ __run_sshd_config_dropin_dir_group }}"
    mode: "{{ __run_sshd_config_dropin_dir_mode }}"
  notify: "run_sshd: restart sshd.service"


- name: "Config | Default | Create drop-in config file"
  ansible.builtin.template:
    src: "00-managed.conf.j2"
    dest: "{{ __run_sshd_config_dropin_file_path }}"
    owner: "{{ __run_sshd_config_dropin_file_owner }}"
    group: "{{ __run_sshd_config_dropin_file_group }}"
    mode: "{{ __run_sshd_config_dropin_file_mode }}"
  notify: "run_sshd: restart sshd.service"


- name: "Config | Default | Remove default drop-in config file (if custom filename is used)"
  ansible.builtin.file:
    path: "{{ __run_sshd_config_dropin_file_path_default }}"
    state: "absent"
  when:
    - __run_sshd_config_dropin_file_path != __run_sshd_config_dropin_file_path_default
  notify:
    - "run_sshd: restart sshd.service"


# "00-ansible.conf" was used up until v1.3.0 of this collection's run role and was not configurable. The default
# filename was renamed, and the old file must be cleaned up (especially since its filename would take precedence).
- name: "Config | Default | Remove old drop-in config file from previous role versions (if not set as custom filename)"
  ansible.builtin.file:
    path: "{{ __run_sshd_config_dropin_dir_path }}/00-ansible.conf"
    state: "absent"
  when:
    - __run_sshd_config_dropin_file_path != "{{ __run_sshd_config_dropin_dir_path }}/00-ansible.conf"
  notify:
    - "run_sshd: restart sshd.service"


- name: "Config | Default | Search for sshd drop-in config files"
  ansible.builtin.find:
    paths: "{{ __run_sshd_config_dropin_dir_path }}"
    patterns: '^.+\.conf$'
    use_regex: true
    hidden: true
    recurse: false
    follow: true
  register: __run_sshd_find_sshd_configd_result


- name: "Config | Default | Show search results of sshd drop-in config files"
  ansible.builtin.debug:
    msg: "{{ __run_sshd_find_sshd_configd_result['files'] }}"
    verbosity: 4
  when:
    - __run_sshd_find_sshd_configd_result is defined
    - __run_sshd_find_sshd_configd_result['files'] is defined
    - __run_sshd_find_sshd_configd_result['files'] | length > 0


- name: "Config | Default | Get contents of sshd drop-in config files"
  ansible.builtin.slurp:
    src: "{{ item }}"
  register: __run_sshd_slurp_sshd_configd_result
  loop: "{{ __run_sshd_find_sshd_configd_result['files'] | map(attribute='path') }}"
  when:
    - __run_sshd_find_sshd_configd_result is defined
    - __run_sshd_find_sshd_configd_result['files'] is defined
    - __run_sshd_find_sshd_configd_result['files'] | length > 0


- name: "Config | Default | Show contents of sshd drop-in config files"
  ansible.builtin.debug:
    msg: "{{ __run_sshd_slurp_sshd_configd_result['results'] }}"
    verbosity: 4
  when:
    - __run_sshd_slurp_sshd_configd_result is defined
    - __run_sshd_slurp_sshd_configd_result['results'] is defined
    - __run_sshd_slurp_sshd_configd_result['results'] | length > 0


- name: "Config | Default | Create a list of options configured in sshd drop-in config files"
  ansible.builtin.set_fact:
    __run_sshd_dropin_options: |-
      {%- set options = [] -%}
      {%- for file_content in (__run_sshd_slurp_sshd_configd_result['results'] | map(attribute='content') | map('b64decode') | list) -%}
        {%- for line in file_content.splitlines() -%}
          {%- if line | regex_search('^[^#].+$', multiline=false, ignorecase=true) -%}
            {%- set ssh_option_name = line | ansible.builtin.regex_replace('\s+', ' ') | trim -%}
            {%- if ssh_option_name | regex_search('^Subsystem[\t ]+', multiline=false, ignorecase=true) -%}
              {%- set ssh_option_name = (ssh_option_name | ansible.builtin.split(' '))[0:2] | join('[\\t ]+') -%}
            {%- else -%}
              {%- set ssh_option_name = (ssh_option_name | ansible.builtin.split(' '))[0] -%}
            {%- endif -%}
            {%- if ssh_option_name and ssh_option_name not in options -%}
              {%- set _ = options.append(ssh_option_name) -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
      {{ options }}
  when:
    - __run_sshd_slurp_sshd_configd_result is defined
    - __run_sshd_slurp_sshd_configd_result['results'] is defined
    - __run_sshd_slurp_sshd_configd_result['results'] | length > 0


- name: "Config | Default | Show the list of options configured in drop-in sshd config files"
  ansible.builtin.debug:
    var: __run_sshd_dropin_options
    verbosity: 4
  when:
    - __run_sshd_dropin_options is defined
    - __run_sshd_dropin_options | length > 0


- name: "Config | Default | Ensure main config file exists with proper permissions"
  ansible.builtin.file:
    path: "{{ __run_sshd_config_file_path }}"
    state: "touch"
    owner: "{{ __run_sshd_config_file_owner }}"
    group: "{{ __run_sshd_config_file_group }}"
    mode: "{{ __run_sshd_config_file_mode }}"
    access_time: "preserve"
    modification_time: "preserve"


- name: "Config | Default | Ensure 'Include' directive exists in main config file"
  ansible.builtin.lineinfile:
    path: "{{ __run_sshd_config_file_path }}"
    line: "Include {{ __run_sshd_config_dropin_dir_path }}/*.conf"
    state: "present"
    validate: "{{ __run_sshd_sshd_exec_path }} -t -f %s"
  notify: "run_sshd: restart sshd.service"


# Remember: It is not possible to overwrite values in the sshd config, first occurrence wins.
- name: "Config | Default | Comment out duplicates in main config file (if any) to ensure drop-in config precedence"
  ansible.builtin.replace:
    path: "{{ __run_sshd_config_file_path }}"
    # Notes on the regex:
    # - {{ __run_sshd_dropin_options | join('|') }} will result in something like
    #   HostKey|LogLevel|LoginGraceTime| [...] |Subsystem[\\t ]+sftp|KexAlgorithms\
    # - Include has to be excluded from commenting as it can exists multiple times.
    # - When options are joined with '|', an empty (whitespace-only) option would
    #   produce patterns like 'foo||bar', where '||' matches an empty string at any
    #   position. The 'select' filter prevents this.
    #   Even though we already ensure that empty options do not enter
    #   __run_sshd_dropin_options, this provides an extra layer of safety.
    # - (?=[\t ]|$) is a safeguard to prevent partial option matches (e.g., 'Foo'
    #   accidentally matching 'FooBar' if such a token appeared).
    regexp: >-
      ^(?![\t ]*#)([\t ]*)(?!Include)({{ __run_sshd_dropin_options | select | join('|') }})(?=[\t ]|$)(.*)
    replace: '#\1\2\3'
    validate: "{{ __run_sshd_sshd_exec_path }} -t -f %s"
  notify: "run_sshd: restart sshd.service"
