# Initialization: Manage internal role setup and the Ansible environment.

---

- name: "Init | Gather role-specific facts"
  ansible.builtin.setup:
    gather_subset: "{{ __run_sshd_used_facts }}"
  when:
    - not (__run_sshd_used_facts is subset(ansible_facts.keys()))


- name: "Init | Include role meta data"
  ansible.builtin.include_vars:
    file: "../meta/main.yml"
    name: "__run_sshd_meta"


- name: "Init | Check Ansible version requirement and fail if unmet"
  ansible.builtin.fail:
    msg: >
      This role requires Ansible {{ __run_sshd_meta['galaxy_info']['min_ansible_version'] }}
      or higher. You are currently running Ansible {{ ansible_version['full'] }} .
  when:
    - ansible_version['full'] is version_compare(__run_sshd_meta['galaxy_info']['min_ansible_version'], "<")


- name: "Init | Notify when platform support check is not possible"
  ansible.builtin.debug:
    msg: >
      The list of supported platforms cannot be checked as it is either empty
      or distribution facts are missing.
    verbosity: 1
  when:
    - ansible_facts['os_family'] is not ansible.builtin.defined or
      ansible_facts['distribution'] is not ansible.builtin.defined or
      ansible_facts['distribution_version'] is not ansible.builtin.defined or
      ansible_facts['distribution_major_version'] is not ansible.builtin.defined or
      (__run_sshd_supported_platforms | ansible.builtin.length) < 1


- name: "Init | Warn when platform is unsupported"
  ansible.builtin.fail:
    msg: >
      Neither {{ ansible_facts['distribution'] }} (distribution) nor {{ ansible_facts['os_family'] }} (os_family)
      with versions '{{ ansible_facts['distribution_major_version'] }}', '{{ ansible_facts['distribution_version'] }}',
      or 'all' is in the list of supported platforms from vars/main.yml: {{ __run_sshd_supported_platforms }}
  when:
    - (__run_sshd_supported_platforms | ansible.builtin.length) > 0
    - (__run_sshd_supported_platforms
       | ansible.builtin.selectattr('name', 'match', '^(' ~ ansible_facts['distribution'] ~ '|' ~ ansible_facts['os_family'] ~ ')$', ignorecase=true)
       | ansible.builtin.map(attribute='versions') | ansible.builtin.flatten
       | ansible.builtin.select('match', '^(' ~ ansible_facts['distribution_major_version'] ~ '|' ~ ansible_facts['distribution_version'] ~ '|all)$', ignorecase=true)
       | ansible.builtin.list | ansible.builtin.length) < 1
  ignore_errors: true # noqa: ignore-errors


- name: "Init | Set platform-specific filename list (most to least specific; raw with possible duplicates)"
  ansible.builtin.set_fact:
    __run_sshd_platform_filenames_raw:
      - "{{ ansible_facts['distribution'].replace(' ', '_') | ansible.builtin.lower }}_{{ ansible_facts['distribution_version'].replace(' ', '_') | ansible.builtin.lower }}.yml"
      - "{{ ansible_facts['distribution'].replace(' ', '_') | ansible.builtin.lower }}_{{ ansible_facts['distribution_major_version'].replace(' ', '_') | ansible.builtin.lower }}.yml"
      - "{{ ansible_facts['distribution'].replace(' ', '_') | ansible.builtin.lower }}.yml"
      - "{{ ansible_facts['os_family'].replace(' ', '_') | ansible.builtin.lower }}.yml"


- name: "Init | Set unique platform-specific filename list (most to least specific)"
  ansible.builtin.set_fact:
    __run_sshd_platform_filenames_most_specific_first: "{{ (__run_sshd_platform_filenames_raw | ansible.builtin.unique | ansible.builtin.default([])) }}"


- name: "Init | Set unique platform-specific filename list (least to most specific)"
  ansible.builtin.set_fact:
    __run_sshd_platform_filenames_most_specific_last: "{{ __run_sshd_platform_filenames_most_specific_first | reverse }}"


- name: "Init | Include platform-specific variables (if any), overwrite values with more specific ones"
  ansible.builtin.include_vars:
    file: "{{ __run_sshd_vars_file }}"
  vars:
    __run_sshd_vars_file: "{{ role_path }}/vars/{{ item }}"
  when:
    - __run_sshd_vars_file is ansible.builtin.file
  loop: "{{ __run_sshd_platform_filenames_most_specific_last }}"


### SSHD specific


# Regarding the merge logic in the following two tasks:
#
# - A simple dict_a | ansible.builtin.combine(dict_b) is not sufficient when
#   case-insensitive behavior is required. The combine() filter treats keys as
#   case-sensitive, so dict_b['Foo'] does not overwrite dict_a['foo'].
#   Therefore, the more complex rejectattr() approach with regex matching is
#   needed.
#
# - If this is needed more often (or becomes more complex), it might make sense
#   to implement a custom filter, e.g.:
#   def combine_ci(base_dict, override_dict, remove_none=True)
- name: "Init | Merge user and default sshd settings"
  ansible.builtin.set_fact:
    __run_sshd_effective_sshd_settings: >-
      {{
        __run_sshd_sshd_settings_defaults
        | ansible.builtin.dict2items
        | ansible.builtin.rejectattr('key', 'match', '^(' ~ (run_sshd_sshd_settings.keys() | join('|')) ~ ')$', ignorecase=true)
        | items2dict
        | ansible.builtin.combine(run_sshd_sshd_settings)
        | ansible.builtin.dict2items
        | ansible.builtin.selectattr('value', 'ne', None)
        | items2dict
      }}


- name: "Init | Apply OS-specific sshd setting overwrites (if any)"
  ansible.builtin.set_fact:
    __run_sshd_effective_sshd_settings: >-
      {{
        __run_sshd_effective_sshd_settings
        | ansible.builtin.dict2items
        | ansible.builtin.rejectattr('key', 'match', '^(' ~ (__run_sshd_sshd_settings_overwrite.keys() | join('|')) ~ ')$', ignorecase=true)
        | items2dict
        | ansible.builtin.combine(__run_sshd_sshd_settings_overwrite)
        | ansible.builtin.dict2items
        | ansible.builtin.selectattr('value', 'ne', None)
        | items2dict
      }}
  when:
    - __run_sshd_sshd_settings_overwrite | ansible.builtin.length > 0


- name: "Init | Warn about user settings overwritten by OS-specific constraints (if any)"
  vars:
    __run_sshd_overwritten_keys: >-
      {{
        run_sshd_sshd_settings.keys()
        | ansible.builtin.list
        | ansible.builtin.select('match', '^(' ~ (__run_sshd_sshd_settings_overwrite.keys() | join('|')) ~ ')$', ignorecase=true)
        | ansible.builtin.list
      }}
  ansible.builtin.debug:
    msg: >-
      The following sshd settings from 'run_sshd_sshd_settings' are being
      overwritten by OS-specific constraints: {{ __run_sshd_overwritten_keys | join(', ') }}.
      This is typically due to the sshd build on this platform not supporting these options.
    verbosity: 3
  when:
    - __run_sshd_sshd_settings_overwrite | ansible.builtin.length > 0
    - __run_sshd_overwritten_keys | ansible.builtin.length > 0
